{% load static %}

{% url 'monitor:main' as path_to_main %}
{% url 'monitor:BrokenWebpages' as path_to_broken_webpages %}

<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}"/>
<nav class="navmenu">
  <ol>
    <li class="menu-item">
      <a style="display: flex;" href="{{path_to_main}}" >
        <!-- {% load static %}<img  class="ui image mini centered " style="margin-bottom:5px;" src={% static "images/WebMonitor.png" %} alt="logo"> -->
        <span style="margin:0 auto;">WebMonitor</span>
      </a>
    </li>
   
      <li class="menu-item" ><a href="{{path_to_broken_webpages}}">Broken Websites</a></li>
      
      
  </ol>
</nav>
